.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));  
  gap: 40px;
  padding: 40px;
  max-width: 1700px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 30px;
  }
}